.booknav{
  display: flex;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  height: 30px;
  background-color: grey;
}

#app{
  display: flex;
}
.navbar{
  background-color: black;
  margin: 25px;
  width: 25vw;

}


.books{
  margin-top: 40px;
}

.newBook{
  display: flex;
}

.dropdown{
  display: none ;
  position: absolute;
  margin-top: 25px;
  background-color: grey;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  margin-right: 5px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.addBook{
  margin-top: 5px;
}
