main{
    background-color: #2d545e;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1;
    box-shadow: 0px 10px 5px 2px rgba(18,52,59,1);
}

.header{
  height: 500px;
  background: rgb(45,84,94);
  background: linear-gradient(0deg, rgba(45,84,94,.5) 31%, rgba(18,52,59,1) 99%), url(/images/libraryart.jpeg);
  box-shadow: 0px 10px 5px 2px rgba(18,52,59,1);
  border-radius: 0px 0px 5px 5px;
}


.books{
  /* background-color:#c89666 ;
  opacity: .75; */
  background: rgb(45,84,94);
  background: linear-gradient(180deg, rgba(45,84,94,1) 23%, rgba(66,95,102,1) 46%, rgba(86,106,111,1) 69%, rgba(107,117,119,1) 100%);
  border: 1px solid #7f5af0;
  border-radius: 5px;
  box-shadow: -5px -5px 20px 2px #12343b;
  margin-right: 20px;
}

.eachBook:hover{
  background-color: #CAD4D7;
  box-shadow:-5px -5px 20px 2px #12343b ;
  font-size: 20px;
  border-radius: 10px;
  border: solid #12343b ;
  color: #12343b;
}

.booknav{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2px;
  position: fixed;
  top: 0;
  height: 30px;
  background: rgb(132,135,139);
  background: linear-gradient(rgba(132,135,139,1) 0%, rgba(148,161,178,1) 50%, rgba(93,175,191,1) 100%); 
  border: 3px solid black;
  color: #e16162;
  border-radius: 5px;
  z-index: 100;
;
}

.booknav:hover{
  background: rgb(96, 112, 128);
}

#app{
  display: flex;
}
.navbar{
  display: flex;
  flex-direction: column;
  background: rgb(45,84,94);
  background: linear-gradient(0deg, rgba(45,84,94,1) 23%, rgba(66,95,102,1) 46%, rgba(86,106,111,1) 69%, rgba(107,117,119,1) 100%);
  border: 1px solid #7f5af0;
  border-radius: 15px;
  margin: 25px;
  width: 30em;
}

.stickydiv{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
}

button{
  background-color: #7f5af0;
  border-radius: 5px;
}

button:hover{
  background-color: #503997;
  opacity: .75;
  color: white;
}

a{
  margin-top: 20px;
  padding: 10px;
  background-color: #7f5af0;
  border-radius: 4px;
}

a:hover{
  background-color: #CAD4D7;
  box-shadow:-5px -5px 20px 2px #12343b ;
  opacity: .75;
  font-size: 25px;
  color: #12343b;
}

.books{
  margin-top: 40px;
}

.newBook{
  display: flex;
}

.dropdown{
  display: none ;
  position: absolute;
  margin: 25px;
  background-color: #7f5af0;
  color: #e2d2d2;
  border: 2px solid black;
  border-radius: 4px;
}

.dropdown:hover{
  box-shadow: 2px 2px #7f5af0;
}

.arrowDown {
  border: solid #f9bc60;
  border-width: 0 5px 5px 0;
  margin-right: 5px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowDown:hover{
  background-color: #f9bc60;
}

.addBook{
  margin-top: 5px;
}
